.orange {
    color: #ff6600;
}

.green {
    color: #00af00;
}

.pink {
    color: #ff00ff;
}

.blue {
    color: #456cfb;
}

.cyan {
    color: #00ffff;
}

.lime {
    color: #4eff4e;
}

.red {
    color: #ff2525;
}